{% extends "users/base.html" %} {% load static %} {% block body %}

<div class="wrapper-background">
    <div class="container-fluid form-page d-flex justify-content-center align-items-center">
        <p>{{is_used}}</p>
        {% if user.is_authenticated %}
        <div class="card pt-1">
            <div class="card-header text-center">Oops!</div>
            <div class="card-body">
                <h5 class="card-title text-center">You are already authenticated</h5>
            </div>
        </div>
        {% else %} {% endif %}
    </div>

    {% if not is_used %}
    <form method="POST">
        {% csrf_token %}
        <label for="email">Enter email address</label> {{form.email}}
        <button type="submit">Reset Password</button>
    </form>
    {% else %}
    <h1>THis link has already been used</h1>
    {% endif %}
</div>
{% endblock %} {% comment "Old Code" %}
<!-- {% if user.is_authenticated %}

      <h1>You are already authenticated</h1>

    {% else %}

    <h1>Password Reset</h1>

    <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Reset My Password" />
    </form>

    <p>Please contact us if you have any trouble resetting your password.</p>

    {% endif %} -->
{% endcomment %}