{% extends "base.html" %} {% load static %} {% block body %}

<div class="wrapper-background">
    <div class="container-fluid form-page d-flex justify-content-center align-items-center">

        {% if user.is_authenticated %}
        <div class="card pt-1">
            <div class="card-header text-center">Oops!</div>
            <div class="card-body">
                <h5 class="card-title text-center">You are already authenticated</h5>
            </div>
        </div>
        {% else %} {% endif %}
    </div>
    {% if not is_used %}
    <form method="POST">
        {% csrf_token %}
        <label for="new_password">Enter new password</label> {{form.new_password}}
        <label for="confirm_password">Confirm password</label> {{form.confirm_new_password}}
        <button type="submit">Reset Password</button>
    </form>
</div>
{% else %}
<h1>THis link is alrady used</h1>
{% endif %} {% endblock %}