{% extends "base.html" %} {% load static %}
<!-- <style>
    .card {
        box-shadow: 5px 8px 18px #c6c2c2;
        border-radius: 6px !important;
        border: none;
        background-color: black !;
    }
</style> -->
{% block body %}

<div class="wrapper-background">
    <div class="container-fluid form-page d-flex justify-content-center align-items-center">

        {% if user.is_authenticated %}
        <div class="card my-5 pt-1">
            <div class="card-header text-center">Oops!</div>
            <div class="card-body">
                <h5 class="card-title text-center">You are already authenticated</h5>
            </div>
        </div>
        {% else %}

        <div class="card pt-1 my-5">
            <div class="card-header text-center">Forgot password</div>
            <div class="card-body">
                <!-- <h5 class="card-title text-center">Reset Password</h5> -->
                <p class="card-text text-center">Enter your e-mail below. We'll send you a reset link.</p>
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                            {% csrf_token %}
                            <!-- <label for="{{form.email.id_for_label}}">{{form.email.label}}</label> -->
                            <input type="email" name="{{form.email.html_name}}" id="{{form.email.id_for_label}}" class="form-control mb-3" placeholder="Email address">

                            <div class="text-center">
                                <input type="submit" value="Reset My Password" class="btn btn-warning">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <small>Please <a href = "mailto: support@inqline.com" class="text-primary" target="_blank">contact us</a> if you have any trouble resetting your password.</small>
            </div>
            {% if form.errors %} {% for field in form %} {% for error in field.errors %}
            <div class="alert alert-danger alert-dismissible fade show mx-2" role="alert">
                {{ error|escape }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true" class="text-right">&times;</span>
                </button>
            </div>

            {% endfor %} {% endfor %} {% for error in form.non_field_errors %}
            <div class="alert alert-danger alert-dismissible fade show mx-2" role="alert">
                {{ error|escape }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true" class="text-right">&times;</span>
                </button>
            </div>
            {% endfor %} {% endif%}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %} {% comment "Old Code" %}
<!-- {% if user.is_authenticated %}

      <h1>You are already authenticated</h1>

    {% else %}

    <h1>Password Reset</h1>

    <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Reset My Password" />
    </form>

    <p>Please contact us if you have any trouble resetting your password.</p>

    {% endif %} -->
{% endcomment %}