{% extends "base.html" %} Change Password {% block body %}
<div class="wrapper-background">
    <div class="container-fluid form-page d-flex justify-content-center align-items-center">
        <div class="card pt-1 my-5">
            <div class="card-header text-center">Change Password</div>
            <div class="card-body">
                <div class="card-title text-center">Your password is now changed!</div>
                <div class="text-center"><a href="{% url 'users:login' %}" class="text-primary">Proceed to Login</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}