{% extends "base.html" %} {% block body %}
<div class="wrapper-background">
    <div class="container-fluid form-page d-flex justify-content-center align-items-center">

        {% if user.is_authenticated %}
        <div class="card pt-1">
            <div class="card-header text-center">Oops!</div>
            <div class="card-body">
                <h5 class="card-title text-center">You are already logged in!</h5>
            </div>
        </div>
        {% else %}

        <div class="card pt-1 my-5">
            <div class="card-header text-center">Email Sent!</div>
            <div class="card-body">
                <h5 class="card-title text-center">Click the link on the email to reset your password</h5>
            </div>
            <div class="card-footer text-center">
                <small class="card-text">Please <a href = "mailto: support@inqline.com" target="_blank"><span class="text-primary">contact us</span></a> if you do not receive an email within a few minutes.</small>
            </div>
        </div>
        {% endif %} {% endblock %}