@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
body {
    font-family: 'Outfit', sans-serif;
    background-color: #f5f5f5 !important;
}

.tag {
    background-color: rgb(12, 141, 188);
    border: 1px solid none;
    width: 40px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 0.7rem;
}

.arr {
    color: white !important;
}

.offcanvas {
    width: 18% !important;
}

.link {
    color: black !important;
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.offcanvas-title {
    font-family: 'Monoton', cursive;
}

.dropdown-btn {
    background-color: transparent !important;
    border-color: transparent !important;
    color: black !important;
}

.dropdown-item {
    font-size: 0.8rem !important;
}

.offcanvas,
.navbar-bg {
    /* background-color: #222222;
  opacity: 93%; */
    background-color: #eeeeee !important;
    box-shadow: 3px 6px 18px rgb(230, 228, 228) !important;
}

.login-card {
    background-color: #f5f5f5 !important;
    box-shadow: 3px 6px 18px rgb(230, 228, 228) !important;
    border: 1px solid transparent;
}

.navbar-logo {
    width: 45%;
}

.offcanvas-start {
    border-right: none !important;
}

.prod-card {
    box-shadow: 3px 6px 18px rgb(215, 205, 205) !important;
}

.search-card {
    border: 1px solid none;
    box-shadow: 3px 6px 18px rgb(215, 205, 205) !important;
}

.main-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.login-inputs {
    height: 50px !important;
    width: 100% !important;
}

.login-btn {
    width: 50% !important;
    background-color: #00aeef !important;
    margin: auto !important;
    padding: 10px 15px !important;
    color: white !important;
    border: 1px solid transparent !important;
    border-radius: 6px !important;
}

.login-btn:hover,
.book-btn:hover {
    background-color: white !important;
    color: #00aeef !important;
    border: 1px solid #00aeef !important;
}

input {
    background-color: #fafafa !important;
}

.book-btn {
    background-color: #00aeef !important;
    color: white !important;
    border: 1px solid transparent !important;
    border-radius: 6px !important;
}

.reset-card {
    background-color: #b71c1c !important;
    color: white !important;
    font-weight: bold !important;
}

.checkout-btn {
    background-color: #1b5e20 !important;
    color: white !important;
    font-weight: bold !important;
}

.continue-book {
    background-color: #0d47a1 !important;
    color: white !important;
    font-weight: bold !important;
}

.reset-card:hover {
    background-color: white !important;
    color: #b71c1c !important;
    border: 1px solid #b71c1c !important;
}

.continue-book:hover {
    background-color: white !important;
    color: #0d47a1 !important;
    border: 1px solid #0d47a1 !important;
}

.checkout-btn:hover {
    background-color: white !important;
    color: #1b5e20 !important;
    border: 1px solid #1b5e20 !important;
}

.cart_price {
    font-size: 1.4rem;
}

.graphs {
    width: 100%;
}

.switch {
    font-size: 0.8rem !important;
}

.switch:hover {
    background-color: #00aeef !important;
    color: white !important;
    border: 1px solid transparent !important;
}

@media screen and (max-width: 1109px) {
    .offcanvas {
        width: 50% !important;
        font-size: 45px !important;
    }
}

.offcanvas-header {
    width: auto !important;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(238 236 236);
    color: black;
    text-align: center;
    padding: 10px 0px;
}