{% extends 'base.html' %} {% block title %}
<title>
    Order List
</title>
{% endblock %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/table.css' %}"> {% endblock %} {% block js %} {% endblock %} {% block body %}
<div class="preview-sec mt-3">
    <div class="row">
        <div class="col-lg-12 login-card mx-auto">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-center pt-2 mt-2">Orders</h2>
                </div>
            </div>
            <hr>
            <div class="form-group col-lg-2">
                <img src="{% static 'images/more_options.png' %}" class="toggle-options" width="30%" height="50%" alt="" title="More Options" style="cursor: pointer;">
            </div>
            <div class="options">
                <div class="form-group col-lg-3">
                    <select name="date-cols" id="date-cols" class="form-control">
            <option value="hide" id="def">Select Date Column to Filter Records</option>
            <option value="8" id="startDate1">Ordered At</option>
            <option value="9" id="endDate1">Deliever At</option>
          </select>
                    <div id="date_filter" style="display: none;">
                        <div class="row">
                            <div class="col-lg-6">
                                <span id="date-label-from" class="date-label">From: </span><input class="date_range_filter date form-control" type="date" id="datepicker_from" />
                            </div>
                            <div class="col-lg-6">
                                <span id="date-label-to" class="date-label">To: <input class="date_range_filter date form-control"
                    type="date" id="datepicker_to" />
              </div>
            </div>
          </div>
        </div>
                      <div class="form-group col-lg-2">
                          <select name="export-cols" id="exportLink" class="form-control">
                    <option>Export Data</option>
                    <option id="copy">Copy to clipboard</option>
                    <option id="excel">Export as Excel</option>
                    <option id="csv">Export as CSV</option>
                    <option id="print">Export as Print</option>
                  </select>
                      </div>
                      <!-- <div class="form-group col-lg-2">
                          <a class="btn submit-btn" id="imputation">Imputation</a>
                      </div> -->
                  </div>
                  <span class="loader my-3"></span>
                                <table id="dtorderlist" name="dtorderlist" class="display table table-hover table-borderless dt-responsive table-responsive-lg nowrap" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Order ID</th>
                                            <th>Address</th>
                                            <th>Email</th>
                                            <th>Amount</th>
                                            <th>Country</th>
                                            <th>State</th>
                                            <th>City</th>
                                            <th>Zip Code</th>
                                            <th>Ordered At</th>
                                            <th>Deliever At</th>
                                            <th>Delievery Status</th>
                                            <th>Detail</th>
                                            <th>Process Payment</th>
                                            <th>Request Status</th>
                                        </tr>
                                    </thead>

                                    <tbody id="orders-data">

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                    <script type="text/javascript">
                        let dateCol = 8;
                        let expArr = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10];
                        let tableId = '#dtorderlist';
                        apiUrl = '{% url "products:order-list-api" %}';
                        let user_role = "{{user.user_role}}"
                        let responseArrCols = [{
                            "data": "order_id"
                        }, {
                            "data": "address"
                        }, {
                            "data": "email"
                        }, {
                            "data": "your_bid_total",
                            "render": function(data, type, row) {
                                return 'pkr ' + data;
                            }
                        }, {
                            "data": "country"
                        }, {
                            "data": "state"
                        }, {
                            "data": "city"
                        }, {
                            "data": "zip_code"
                        }, {
                            "data": "ordered_at",
                            "render": function(data, type) {
                                if (type === "sort") {
                                    return data;
                                } else {
                                    data = moment.utc(data, "YYYY-MM-DD HH:mm").tz('Pakistan/Karachi')
                                    data = moment(data).format("L HH:mm")
                                    return data;
                                }
                            }
                        }, {
                            "data": "deliever_at",
                            "render": function(data, type) {
                                if (data !== null) {
                                    if (type === "sort") {
                                        return data;
                                    } else {
                                        data = moment.utc(data, "YYYY-MM-DD").tz('Pakistan/Karachi')
                                        data = moment(data).format("L")
                                        return data;
                                    }
                                } else {
                                    return "null";
                                }

                            }
                        }, {
                            "data": "status",
                            "render": function(data, type, row) {
                                console.log("****************************")
                                console.log(row)
                                if (user_role == "Admin" && row['payment_process'] == "Received") {
                                    let url_mask = "{% url 'products:order-status' %}";
                                    url_mask = `${url_mask}?order_id=${row.order_id}`
                                    return '<a href=' + url_mask + '>' + data + '</a>'
                                } else {
                                    return data;
                                }

                            }
                        }, {
                            "data": "user",
                            "render": function(data, type, row) {
                                console.log(row.order_id);
                                let url_mask = "{% url 'products:order-detail-template' 123 456 %}".replace('123', data).replace('456', row.order_id);
                                return '<a href=' + url_mask + '>Details</a>'
                            }
                        }, {
                            "data": "payment_process",
                            "render": function(data, type, row) {
                                return data.charAt(0).toUpperCase() + data.slice(1);

                            }

                        }, {
                            "data": "is_accepted"
                        }];

                        loadRecordsInDataTable(dateCol, expArr, apiUrl, responseArrCols, tableId);
                    </script>
                    {% endblock %}