{% extends 'base.html' %} {% block title %}
<title>
    Order Details
</title>
{% endblock %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/table.css' %}"> {% endblock %} {% block js %} {% endblock %} {% block body %}
<div class="preview-sec mt-3">
    <div class="row">
        <div class="col-lg-12 login-card">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="text-center pt-2">Order Detail</h3>
                </div>
            </div>
            <hr>
            <div class="form-group col-lg-2">
                <img src="{% static 'images/more_options.png' %}" class="toggle-options" width="30%" height="50%" alt="" title="More Options" style="cursor: pointer;">
            </div>
            <div class="options">
                <div class="form-group col-lg-2">
                    <select name="export-cols" id="exportLink" class="form-control">
                <option>Export Data</option>
                <option id="copy">Copy to clipboard</option>
                <option id="excel">Export as Excel</option>
                <option id="csv">Export as CSV</option>
                <option id="print">Export as Print</option>
              </select>
                </div>
            </div>
            <span class="loader my-3"></span>
            <table id="dtorderdetail" name="dtorderdetail" class="display table table-hover table-borderless dt-responsive table-responsive-lg nowrap" width="100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Order ID</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>SubCategory</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                        <th>Bid Price</th>
                        <th>Return Date</th>
                    </tr>
                </thead>

                <tbody id="orders-data">

                </tbody>
            </table>
        </div>

    </div>
</div>

<script type="text/javascript">
    let dateCol = 4;
    let expArr = [0, 1, 2, 3, 4, 5, 6, 7];
    let tableId = '#dtorderdetail';
    let order_id = "{{order_id}}"
    let pk = "{{pk}}"
    let baseUrl = window.location.origin;
    apiUrl = `${baseUrl}/users/order-detail-api/${pk}/${order_id}`
    let responseArrCols = [{
        "data": "id"
    }, {
        "data": "order_id"
    }, {
        "data": "product_name"
    }, {
        "data": "product_category"
    }, {
        "data": "product_subcategory"
    }, {
        "data": "quantity"
    }, {
        "data": "total_price",
        "render": function(data, type) {
            return data + " PKR"
        }
    }, {
        "data": "your_bid_price",
        "render": function(data, type) {
            return data + " PKR"
        }
    }, {
        "data": "return_date"
    }, ]

    loadRecordsInDataTable(dateCol, expArr, apiUrl, responseArrCols, tableId);
</script>
{% endblock %}