{% extends 'base.html' %} {% block title %}
<title>
    Send Email
</title>
{% endblock %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/table.css' %}"> {% endblock %} {% block js %} {% endblock %} {% block body %}
<div class="preview-sec mt-3">
    <div class="row">
        <div class="col-lg-12 login-card">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="text-center pt-2">Send Return Email</h3>
                </div>
            </div>
            <hr>
            <div class="form-group col-lg-2">
                <img src="{% static 'images/more_options.png' %}" class="toggle-options" width="30%" height="50%" alt="" title="More Options" style="cursor: pointer;">
            </div>
            <div class="options">
                <div class="form-group col-lg-3">
                    <select name="date-cols" id="date-cols" class="form-control">
            <option value="hide" id="def">Select Date Column to Filter Records</option>
            <option value="8" id="startDate1">Ordered At</option>
            <option value="9" id="endDate1">Deliever At</option>
          </select>
                    <div id="date_filter" style="display: none;">
                        <div class="row">
                            <div class="col-lg-6">
                                <span id="date-label-from" class="date-label">From: </span><input class="date_range_filter date form-control" type="date" id="datepicker_from" />
                            </div>
                            <div class="col-lg-6">
                                <span id="date-label-to" class="date-label">To: <input class="date_range_filter date form-control"
                    type="date" id="datepicker_to" />
              </div>
            </div>
          </div>
        </div>
                      <div class="form-group col-lg-2">
                          <select name="export-cols" id="exportLink" class="form-control">
                    <option>Export Data</option>
                    <option id="copy">Copy to clipboard</option>
                    <option id="excel">Export as Excel</option>
                    <option id="csv">Export as CSV</option>
                    <option id="print">Export as Print</option>
                  </select>
                      </div>
                      <!-- <div class="form-group col-lg-2">
                          <a class="btn submit-btn" id="imputation">Imputation</a>
                      </div> -->
                  </div>
                  <span class="loader my-3"></span>
                                <table id="dtorderlist" name="dtorderlist" class="display table table-hover table-borderless dt-responsive table-responsive-lg nowrap" width="100%">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Order ID</th>
                                            <th>Product Category</th>
                                            <th>Product SubCategory</th>
                                            <th>Product Title</th>
                                            <th>Quantity</th>
                                            <th>Return Date</th>
                                            <th>Send Email</th>

                                        </tr>
                                    </thead>

                                    <tbody id="orders-data">

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <script type="text/javascript">
                        let dateCol = 8;
                        let expArr = [0, 1, 2, 3, 4, 5, 6];
                        let tableId = '#dtorderlist';
                        apiUrl = '{% url "products:item-list-api" %}';
                        let user_role = "{{user.user_role}}"

                        let responseArrCols = [{
                            "data": "id"
                        }, {
                            "data": "order_id"
                        }, {
                            "data": "product_category"
                        }, {
                            "data": "product_subcategory"
                        }, {
                            "data": "product_name"
                        }, {
                            "data": "quantity"
                        }, {
                            "data": "return_date"
                        }, {
                            mRender: function(data, type, row) {
                                console.log(row['order_id'])
                                let reqUrl = `{% url "products:send-email-form" %}?id=${row['id']}&order_id=${row['order_id']}&product_cat=${row['product_category']}&product_sub=${row['product_subcategory']}&title=${row['product_name']}`
                                return `<a class="table-edit" href=${reqUrl}>Send Email</a>`
                            }
                        }, ];

                        loadRecordsInDataTable(dateCol, expArr, apiUrl, responseArrCols, tableId);
                    </script>
                    {% endblock %}