{% extends 'base.html' %} {% block title %}
<title>
    Process Payment List
</title>
{% endblock %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/table.css' %}"> {% endblock %} {% block js %} {% endblock %} {% block body %}
<div class="preview-sec mt-3">
    <div class="row">
        <div class="col-lg-12 login-card">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="text-center pt-2">Process Payments</h3>
                </div>
            </div>
            <hr>
            <div class="form-group col-lg-2">
                <img src="{% static 'images/more_options.png' %}" class="toggle-options" width="30%" height="50%" alt="" title="More Options" style="cursor: pointer;">
            </div>
            <div class="options">
                <div class="form-group col-lg-2">
                    <select name="export-cols" id="exportLink" class="form-control">
                <option>Export Data</option>
                <option id="copy">Copy to clipboard</option>
                <option id="excel">Export as Excel</option>
                <option id="csv">Export as CSV</option>
                <option id="print">Export as Print</option>
              </select>
                </div>
                <!-- <div class="form-group col-lg-2">
                      <a class="btn submit-btn" id="imputation">Imputation</a>
                  </div> -->
            </div>
            <span class="loader my-3"></span>
            <table id="dtpaymentprocess" name="dtpaymentprocess" class="display table table-hover table-borderless dt-responsive table-responsive-lg nowrap" width="100%">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Email</th>
                        <th>Total Order Bid</th>
                        <th>Process Payment</th>
                    </tr>
                </thead>

                <tbody id="orders-data">

                </tbody>
            </table>
        </div>

    </div>
</div>
<script type="text/javascript">
    // email: "steve@email.com"
    // order_id: "3ab0b3bf-d334-472a-9392-4d7fbdbcba65"
    // payment_process: "pending"
    // your_bid_total: 90

    let dateCol = 8;
    let expArr = [0, 1, 2, 3];
    let tableId = '#dtpaymentprocess';
    apiUrl = '{% url "payments:process-payment-api" %}';
    let user_role = "{{user.user_role}}"
    let responseArrCols = [{
        "data": "order_id"
    }, {
        "data": "email"
    }, {
        "data": "your_bid_total",
        "render": function(data, type) {
            if (data != null) {
                return data + " PKR"
            } else {
                return "-"
            }
        }
    }, {
        "data": "payment_process",
        "render": function(data, type, row) {
            if (user_role != "Admin") {
                let baseUrl = window.location.origin;
                let maskurl = `${baseUrl}/payments/payment-form/?order_id=${row.order_id}`;
                return '<a href="' + maskurl + '" class="btn btn-primary btn-sm" id="process-payment">Process Payment</a>'
            } else {
                return data
            }
        }
    }, ]
    loadRecordsInDataTable(dateCol, expArr, apiUrl, responseArrCols, tableId);
</script>
{% endblock %}