{% extends 'base.html' %} {% block title %}
<title>Cart</title>
{% endblock %}{% block body %} {% if orders.count > 0 %}
<div class="row">
    <div class="col-lg-12">
        <div class="text-right">
            <a href="{% url 'products:products' %}" class="btn btn-primary continue-book">Continue Booking <i class="fa fa-shopping-cart text-light" aria-hidden="true"></i> </a>
            <a href="{% url 'products:reset-cart' %}" class="btn btn-danger reset-card">Reset Cart  <i class="fas fa-trash text-light"></i></a>
            <a href="{% url 'products:checkout' %}" class="btn btn-success checkout-btn">Go To Checkout <i class="fa fa-credit-card-alt text-light"></i></a>

        </div>
    </div>
</div>
{% endif %} {% for order in orders %} {% if count > 0 %}
<div class="col-lg-10 mx-auto">
    <div class="card prod-card login-card my-3">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-3">
                    <h5><b>Product Name</b>
                    </h5>
                    <p class="card-text mt-3">{{order.product_name}}</p>
                </div>
                <div class="col-lg-2">
                    <h5><b>Quantity</b></h5>
                    <p class="card-text mt-3">{{order.quantity}}</p>
                </div>
                <div class="col-lg-2">
                    <h5><b>Product Price</b></h5>
                    <p class="prod-price mt-3">pkr <span class="price">{{order.total_price}}</span></p>
                </div>
                <div class="col-lg-2">
                    <h5><b>Your Bid Price</b></h5>
                    <p class="bid-price mt-3">pkr <span class="bid_price">{{order.your_bid_price}}</span></p>
                </div>
                <div class="col-lg-2">
                    <h5><b>Delete Product</b></h5>
                    <a href="{% url 'products:delete-cart-product' order.id %}"><i class="fas fa-trash text-center text-danger "></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %} {% endif %} {% endfor %} {% if orders.count > 0 %}
<div class="col-lg-6 mx-auto">
    <div class="card prod-card login-card my-3">
        <div class="card-body">
            <div class="row">
                <!-- <div class="col-lg-6"></div> -->
                <div class="col-lg-6">
                    <h3><b>Product Price</b></h3>
                    <p class="prod-price mt-3">PKR <span class="total_price cart_price"></span></p>
                </div>
                <div class="col-lg-6">
                    <h3><b>Your Bid Price</b></h3>
                    <p class="bid-price mt-3">PKR <span class="bid_total_price cart_price"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<h1 class="text-center">No Items Found In Cart</h1>
{% endif %}
<script>
    $(document).ready(function() {
        let price = document.querySelectorAll(".price")
        let bid_price = document.querySelectorAll(".bid_price")
        let total_price = 0;
        let bid_total = 0;
        for (var i = 0; i < price.length; i++) {
            total_price += Number(price[i].textContent)
        }
        for (var j = 0; j < bid_price.length; j++) {
            console.log(bid_price[j].textContent)
            bid_total += Number(bid_price[j].textContent)
        }
        $(".total_price").text(total_price)
        $(".bid_total_price").text(bid_total)

        function preventBack() {
            window.history.forward();
        }
        window.onunload = function() {
            null;
        };
        setTimeout("preventBack()", 0);
    })
</script>
{% endblock %}