{% extends 'base.html' %} {% block title %}
<title>
    Product Form
</title>
{% endblock %} {% block body %}

<div class="row">
    <div class="col-lg-8 mx-auto">
        <div class="card prod-card login-card">
            <div class="card-header">
                {% if form.instance.pk %}
                <h3>Edit Product</h3>
                {% else %}
                <h3>Add Product</h3> {% endif %}
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="category">Product Category</label> {{form.prod_cat}}
                            </div>
                            <div class="col-lg-6">
                                <label for="subcategory">Product SubCategory</label> {{form.prod_sub}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Product Name</label> {{form.product_name}}
                    </div>
                    <div class="form-group">
                        <label for="desc">Product Description</label> {{form.product_desc}}
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="price">Product Price</label> {{form.product_price}}
                            </div>
                            <div class="col-lg-6">
                                <label for="quantity">Product Quantity</label> {{form.product_quantity}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="image">Product Image</label> {{form.prod_img}}
                    </div>
                    <div class="text-center">
                        {% if form.instance.pk %}
                        <button type="submit" class="btn btn-secondary book-btn">Edit Product</button> {% else %}
                        <button type="submit" class="btn btn-primary book-btn">Add Product</button> {% endif %}

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.22.0/axios.min.js" integrity="sha512-m2ssMAtdCEYGWXQ8hXVG4Q39uKYtbfaJL5QMTbhl2kc6vYyubrKHhr6aLLXW4ITeXSywQLn1AhsAaqrJl8Acfg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $("input,select,textarea").addClass('form-control')
</script>
{% endblock %}