{% extends 'base.html' %} {% block title %}
<title>
    Product LIst
</title>
{% endblock %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/table.css' %}"> {% endblock %} {% block js %} {% endblock %} {% block body %}
<div class="preview-sec mt-3">
    <div class="row">
        <div class="col-lg-12 login-card">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="text-center pt-2">Products</h3>
                </div>
            </div>
            <hr>
            <div class="form-group col-lg-2">
                <img src="{% static 'images/more_options.png' %}" class="toggle-options" width="30%" height="50%" alt="" title="More Options" style="cursor: pointer;">
            </div>
            <div class="options">
                <div class="form-group col-lg-2">
                    <select name="export-cols" id="exportLink" class="form-control">
                <option>Export Data</option>
                <option id="copy">Copy to clipboard</option>
                <option id="excel">Export as Excel</option>
                <option id="csv">Export as CSV</option>
                <option id="print">Export as Print</option>
              </select>
                </div>
                <!-- <div class="form-group col-lg-2">
                      <a class="btn submit-btn" id="imputation">Imputation</a>
                  </div> -->
            </div>
            <span class="loader my-3"></span>
            <table id="dtproduct_list" name="dtproduct_list" class="display table table-hover table-borderless dt-responsive table-responsive-lg nowrap" width="100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Product Name</th>
                        <th>Product Category</th>
                        <th>Product SubCategory</th>
                        <th>Product Price</th>
                        <th>Quantity</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="orders-data">

                </tbody>
            </table>
        </div>

    </div>
</div>
<script type="text/javascript">
    let dateCol = 4;
    let expArr = [0, 1, 2, 3, 4, 5];
    let tableId = '#dtproduct_list';
    apiUrl = '{% url "products:product-api" %}';
    let responseArrCols = [{
        "data": "id"
    }, {
        "data": "product_name"
    }, {
        "data": "prod_cat"
    }, {
        "data": "prod_sub"
    }, {
        "data": "product_price"
    }, {
        "data": "product_quantity"
    }, {
        mRender: function(data, type, row) {
            let delUrl = '{% url "products:delete-product" 123 %}'.replace('123', row['id'])
            let editUrl = '{% url "products:update-product" 123 %}'.replace('123', row['id'])
            return `<a class="table-edit" href=${editUrl}><i class="fas fa-user-edit font-weight-bold"></i></a> <a class="table-delete" href=${delUrl}><i class="fas fa-trash text-danger font-weight-bold"></i></a>`
        }
    }, ];

    loadRecordsInDataTable(dateCol, expArr, apiUrl, responseArrCols, tableId);
</script>
{% endblock %}